@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Roboto:wght@100;300;400;500;700&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');
*{
	margin: 0;
	box-sizing: border-box;
	font-family: 'Work Sans', sans-serif;
}
.Lan {
    margin-top: -4px;
    margin-left: 10px;
	}

.\31 ,  .\33,  .\35 , .\37{
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	flex-direction: column;
}
.\32,.\34,.\36{
	margin-left: 35px;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	flex-direction: column;
}
.c ,  .a, .f {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
	}
.b, .d, .q,.e{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row-reverse;
}
header
{
	background-color: #c8d4eb9e;
	position: fixed;
	top:0; left: -3px; right:0;
	padding:1rem 3%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
	box-shadow: var(--box-shadow);
}
header .logo
{
	background: linear-gradient(90deg,#6D99D4,#1B3D76); 
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	text-decoration: none;
	text-transform: capitalize;
	letter-spacing: 7px;
	font-size: 2.5rem;
	font-weight: bolder;
}
header .logo i
{
	color: #279232;
}
header .navbar
{
display: flex;
justify-content: center;
align-items: center;
}
header .navbar  a
{
	list-style: none;
	margin-left: 20px;
}
header .navbar a
{
	text-decoration: none;
	padding:  10px 28px;
	color: #e86aba;
	border-radius: 20px;
}
header .navbar a:hover,
header .navbar a.active
{
	background: #30c0f19c;
  color: #2b1055;
}


.language-options {
	display: flex;
	align-items: center;
    text-align: center;
    margin: 10px;
    flex-wrap: nowrap;
}

.language-options a {
  text-decoration: none;
  font-weight: bold;
  color: #333; 
  padding: 5px 10px;
  border: 1px solid #333; 
  border-radius: 5px;
  margin: 0 5px;
  transition: background-color 0.3s, color 0.3s;
}

.language-options a:hover {
  background-color: #333; 
  color: #fff;
}




.About
{
	background-color: #ffe8f8;
	min-height: 100vh;
			display: flex;
			align-items: center;
			background-size: cover;
			background-position: center;
			padding: 1.3rem 7%;
			justify-content: center;
			flex-wrap: nowrap;
			flex-direction: row;
}


.About img
{
	height: 556px;
	width: auto;
	margin-top: 72px;
	margin-left: 33px;
}

.About .conten
{  max-width: 200rem;
	margin-left: 41px;
	margin-top: 87px;
}
.About .conten h3
{
	margin-bottom: 7px;
	font-weight: bold;
  font-size: 3.1rem;
  text-transform: capitalize;
  color: #6F5ACD;
}

.About .conten p
{
	margin-bottom: 25px;
    font-weight: normal;
    font-size: 1.8rem;
    color: #2B1392;
    text-transform: capitalize;
}
.About .conten .btnn{
	display: flex;
	
}
.btn {
	text-align: center;
    height: 56px;
    width: 188px;
    background-color: #ea6e95;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: .9rem;
    border: -8px solid transparent;
    font-weight: bolder;
    padding: .8rem 4rem;
    transition: .4s;
}
.bttn{
	text-align: center;
    height: 56px;
    width: 305px;
    background-color: #ea6e95;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    border-radius: .9rem;
    border: -8px solid transparent;
    font-weight: bolder;
    padding: .8rem 4rem;
    transition: .4s;
}
a.btn {
    margin-right: 29px;
}
.btn:hover, .bttn:hover
{
	background-color: #6f5acd66;
	border: 2px solid #6f5acd66;
	cursor: pointer;
}
#btnn
{
	float: right;
	padding-bottom: 5px;
	padding-top: 5px;
}
main
{
	position: relative;
	width: 100%;
	height: 400px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	}
	.team
	{
		color: #FA95FF;
		background: #191919;
	}
	.sub-heading
	{
			text-align: center;
			color:var(--green);
			font-size: 2rem;
			padding-top: 1rem;
	}
	.heading
	{
			text-align: center;
			color:var(--black);
			font-size: 3rem;
			padding-top: 5rem;
			text-transform: capitalize;
	}
	.team .heading span
	{
	color: #fe5b84;
}
	.Group .slide
	{
			padding: 4.9rem;
			box-shadow:var(--box-shadow);
			border:.1rem solid #ccc;
			border-radius: .5rem;
			position: relative; 
			background: #191919;  
	}
	
	.Group .slide .user
	{
			display: flex;
			gap:1.5rem;
			align-items: center;
			padding-bottom: 1.5rem;
	}
	
	.Group .slide .user img
	{
			height: 12rem;
			width: 12rem;
			border-radius: 50%;
			object-fit: cover;
	}
	
	.Group .slide .user h3
	{
			color: #fe5b84;
			font-size: 3.5rem;
			padding-bottom: .5rem;
	}
	
	.Group .slide .user i
	{
			font-size: 1.3rem;
			color:#fff;
	}
	
	.Group .slide p
	{
			font-size: 2rem;
			line-height: 1.8;
			color:#fff;
	}
	.swiper-wrapper
	{
		padding: .3rem 3%;
	}
	
	.fa-arrow-right
	{
	font-size: 1.3rem;
	color:#e06387;
	float: right;
	padding-block: 15px;
}
	.fa-arrow-right:before
	{
		content: "\f061";
	}
footer
{
	position: relative;
	width: 100%;
	height: 236px;
	background: #5542a9;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1)
{
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2)
{
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social
{
	display: flex;
}
.social a
{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #e86aba;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover
{
	transform: scale(1.3);
	transition: .3s;
}
.end
{
	position: absolute;
	color: #e86aba;
	bottom: 35px;
	font-size: 14px; 
}
@media screen and (max-width: 768px) {
header .logo {
	font-size: 2rem;
}

header .navbar
{
display: flex;
justify-content: center;
align-items: center;
}
header .navbar  a
{
	list-style: none;
	margin-left: 20px;
}
header .navbar a
{
	text-decoration: none;
	padding:  10px 28px;
	color: #fff;
	border-radius: 20px;
}
header .navbar a:hover,
header .navbar a.active
{
	background: #fff;
	color: #2b1055;
}


.About .conten h3 {
	font-size: 3.5rem;
}

.About .conten p {
	font-size: 1.2rem;
	margin-bottom: 10px;
}

.About .conten span {
	font-size: 1.8rem;
}

.btn {
	padding: 0.6rem 2rem;
	font-size: 18px;
}

.conten::after {
	display: none;
}

.Group .slide {
	padding: 2.5rem;
}

.Group .slide .user img {
	height: 8rem;
	width: 8rem;
}

.Group .slide .user h3 {
	font-size: 2.5rem;
}

.Group .slide p {
	font-size: 1.4rem;
}
}